# version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: flight_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "Ananya2004!"
      MYSQL_DATABASE: "authdb"
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d:ro
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    container_name: flight_rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend

  service-registry:
    build: ./service-registry
    container_name: service-registry
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8761:8761"
    networks:
      - backend

  config-server:
    build: ./config-server
    container_name: config-server
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "8888:8888"
    depends_on:
      service-registry:
        condition: service_started
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8888/actuator/health" ]
      interval: 5s
      timeout: 3s
      retries: 15
    networks:
      - backend

  auth-service:
    build: ./auth-service
    container_name: auth-service
    environment:
      - SPRING_CONFIG_IMPORT=configserver:http://config-server:8888
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CLOUD_CONFIG_FAIL_FAST=true
    ports:
      - "8085:8085"
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_started
      mysql:
        condition: service_started
    networks:
      - backend

  flight-service:
    build: ./flight-service
    container_name: flight-service
    environment:
      - SPRING_CONFIG_IMPORT=configserver:http://config-server:8888
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CLOUD_CONFIG_FAIL_FAST=true
    ports:
      - "8081:8081"
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_started
      mysql:
        condition: service_started
    networks:
      - backend

  booking-service:
    build: ./booking-service
    container_name: booking-service
    environment:
      - SPRING_CONFIG_IMPORT=configserver:http://config-server:8888
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CLOUD_CONFIG_FAIL_FAST=true
    ports:
      - "8082:8082"
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_started
      mysql:
        condition: service_started
      rabbitmq:
        condition: service_started
    networks:
      - backend

  notification-service:
    build: ./notification-service
    container_name: notification-service
    environment:
      - SPRING_CONFIG_IMPORT=configserver:http://config-server:8888
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CLOUD_CONFIG_FAIL_FAST=true
    ports:
      - "8090:8090"
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_started
      rabbitmq:
        condition: service_started
    networks:
      - backend

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    environment:
      - SPRING_CONFIG_IMPORT=configserver:http://config-server:8888
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CLOUD_CONFIG_FAIL_FAST=true
    ports:
      - "8087:8087"
    depends_on:
      config-server:
        condition: service_healthy
      service-registry:
        condition: service_started
    networks:
      - backend

volumes:
  mysql-data:


networks:
  backend:
    driver: bridge
